@mixin import-primary-fonts($content-block) {
  @if $content-block == import-primary-fonts {
    @content;
  }
}

@mixin brand(
  $brand-name,
  $primary-brand-color,
  $secondary-brand-color,
  $background-brand-color,
  $primary-font,
  $secondary-font: "Swiss-721-Regular, Arial, Helvetica, sans-serif",
  $secondary-font-bold: "Swiss-721-Medium, Helvetica, Arial, sans-serif",
  $marriott-iconography-color,
  $marriott-homepage-background-color: #f4f4f4,
  $secondary-button-color,
  $primary-button-hover-color,
  $brand-capitalized,
  $titles-capitalized,
  $menu-items-capitalized,
  $buttons-capitalized,
  $body-copy-capitalized
) {
  /* #{$brand-name} */
  /********************************************************************************************************************/

  /****************/
  /* Font imports */
  /****************/
  @font-face {
    @content (import-primary-fonts);
    font-family: $primary-font;
  }
  @include _import-secondary-fonts();

  /*******************/
  /* Style variables */
  /*******************/
  :root {
    --primary-brand-color: #{$primary-brand-color};
    --secondary-brand-color: #{$secondary-brand-color};
    --background-brand-color: #{$background-brand-color};
    --primary-font: #{$primary-font};
    --secondary-font: #{$secondary-font};

    /* additional CSS variables */
    --secondary-font-bold: #{$secondary-font-bold};
    --marriott-iconography-color: #{$marriott-iconography-color};
    --marriott-homepage-background-color: #{$marriott-homepage-background-color};
    --secondary-button-color: #{$secondary-button-color};
    --primary-button-hover-color: #{$primary-button-hover-color};
    --brand-capitalized: #{$brand-capitalized};
    --titles-capitalized: #{$titles-capitalized};
    --menu-items-capitalized: #{$menu-items-capitalized};
    --buttons-capitalized: #{$buttons-capitalized};
    --body-copy-capitalized: #{$body-copy-capitalized};
  }

  /**********/
  /* Header */
  /**********/
  @include _customize-headers();

  /***********/
  /* Buttons */
  /***********/
  @include _customize-buttons();

  /************/
  /* Checkbox */
  /************/
  @include _customize-checkbox();

  /*********/
  /* Input */
  /*********/
  @include _customize-input();

  /****************/
  /* Radio button */
  /****************/
  @include _customize-radio-button();

  /****************/
  /* Slide toggle */
  /****************/
  @include _customize-slide-toggle();

  /************/
  /* Dropdown */
  /************/
  @include _customize-dropdown();

  /*************/
  /* Accordion */
  /*************/
  @include _customize-accordion();

  /***********/
  /* Spinner */
  /***********/
  @include _customize-spinner();

  /**********/
  /* Anchor */
  /**********/
  @include _customize-anchor();

  /**************/
  /* Price text */
  /**************/
  @include _customize-price-text();

  /********/
  /* Cart */
  /********/
  @include _customize-cart();

  /**********/
  /* Pop up */
  /**********/
  @include _customize-pop-up();

  /***************/
  /* Date picker */
  /***************/
  @include _customize-date-picker();

  /*************/
  /* Statement */
  /*************/
  @include _customize-statement();

  /*************/
  /* Home page */
  /*************/
  @include _customize-home-page();

  /*****************/
  /* Offering page */
  /*****************/
  @include _customize-offering-page();

  /***************/
  /* Search page */
  /***************/
  @include _customize-search-page();

  /*****************/
  /* Checkout page */
  /*****************/
  @include _customize-checkout-page();
}

@mixin _import-secondary-fonts() {
  @font-face {
    font-display: swap;
    font-family: Swiss-721-Regular;
    font-weight: 500;
    src: url(https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Regular.woff2)
      format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: Swiss-721-Medium;
    font-weight: 700;
    src: url(https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Medium.woff2)
      format("woff2");
  }
}

@mixin _customize-headers() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .display-1:not(.dashboard-home-component .appointment-history-cta-container),
  .display-2 {
    color: #1c1c1c !important;
    text-transform: var(--body-copy-capitalized);
  }

  h4,
  h5 {
    font-weight: 600; /* font care - the Swiss-721 font bolds at 600 */
  }
}

@mixin _customize-buttons() {
  .mdc-button {
    --mdc-filled-button-container-shape: 3rem;
    --mdc-typography-button-font-family: var(--secondary-font);
    --mdc-typography-button-font-size: 1.6rem;
  }

  /* make all buttons capitalized or not */
  .mdc-button {
    --mdc-typography-button-text-transform: var(--buttons-capitalized);
  }

  .mdc-button__label {
    text-transform: var(--buttons-capitalized);
  }

  .mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color: var(--primary-brand-color);
    --mdc-filled-button-label-text-color: #ffffff;
    font-size: 1.6rem !important;
  }

  .mdc-button.mat-primary:hover .mat-mdc-button-persistent-ripple::before {
    --mat-mdc-button-persistent-ripple-color: var(--primary-button-hover-color);
    opacity: 0.2;
  }

  .mat-mdc-unelevated-button.mat-accent {
    --mdc-filled-button-container-color: #ffffff;
    --mdc-filled-button-label-text-color: var(--secondary-button-color);
    --mdc-typography-button-text-transform: var(--buttons-capitalized);
    border-color: var(--secondary-button-color);

    &:hover {
      /* change the secondary button so it does not get the secondary hover color applied */
      .mat-mdc-button-persistent-ripple:before {
        opacity: 0;
      }
    }

    &:not(.splash-message__cta):hover {
      --mdc-filled-button-container-color: var(
        --secondary-button-color
      ) !important;
      --mdc-filled-button-label-text-color: #ffffff;
    }
  }
}

@mixin _customize-checkbox() {
  .mdc-checkbox {
    --secondary-brand-color: var(--marriott-iconography-color);
  }
}

@mixin _customize-input() {
  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #000000;
  }

  .mdc-notched-outline {
    --mdc-theme-primary: #000000;
  }
}

@mixin _customize-radio-button() {
  .mat-mdc-radio-group {
    --secondary-brand-color: var(--marriott-iconography-color);
  }
}

@mixin _customize-slide-toggle() {
  .mat-mdc-slide-toggle .mdc-switch {
    --secondary-brand-color: var(--marriott-iconography-color);

    --mdc-switch-unselected-track-color: #d3d3d3;
    --mdc-switch-unselected-hover-track-color: #d3d3d3;
    --mdc-switch-unselected-focus-track-color: #d3d3d3;
    --mdc-switch-unselected-pressed-track-color: #d3d3d3;

    --mdc-switch-unselected-hover-state-layer-color: #d3d3d3;
    --mdc-switch-unselected-focus-state-layer-color: #d3d3d3;
    --mdc-switch-unselected-pressed-state-layer-color: #d3d3d3;
  }
}

@mixin _customize-dropdown {
  .mat-mdc-select-arrow-wrapper:before {
    border-color: var(--marriott-iconography-color);
  }
}

@mixin _customize-accordion {
  .mat-expansion-indicator {
    &:after {
      color: var(--marriott-iconography-color) !important;
    }
  }
}

@mixin _customize-spinner() {
  .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: var(
      --marriott-iconography-color
    );
  }
}

@mixin _customize-anchor() {
  a {
    &.text-primary {
      &,
      &:hover,
      &:visited {
        color: var(--marriott-iconography-color) !important;
      }

      &,
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}

@mixin _customize-price-text() {
  .text-pricing {
    font-family: var(--primary-font);
    font-size: 1.4rem;
  }
}

@mixin _customize-cart() {
  .itinerary-type-guest-wishlist-component .service-item__name,
  .spa-service-type-guest-wishlist-component .service-item__name,
  .activity-type-guest-wishlist-component .activity-type__name {
    font-size: 1.4rem !important;
    font-family: var(--secondary-font) !important;
    font-weight: 500 !important;
  }

  .itinerary-type-guest-wishlist-component,
  .spa-service-type-guest-wishlist-component {
    .service-item__price {
      font-family: var(--secondary-font) !important;
      color: #000000 !important;
    }
  }

  .spa-service-type-guest-wishlist-component {
    .guest-name {
      font-family: var(--secondary-font) !important;
    }
  }

  .itinerary-component .itinerary-title,
  .group-cart-component .cart-title {
    font-family: var(--secondary-font) !important;
    font-size: 2.4rem;
    text-transform: var(--titles-capitalized);
  }

  .itinerary-component .cta-container [color="warn"] {
    --mdc-filled-button-container-color: #ffffff;
    --mdc-filled-button-label-text-color: var(--secondary-button-color);
    --mdc-typography-button-text-transform: var(--buttons-capitalized);
    border: 1px solid var(--secondary-button-color);

    &:hover {
      --mdc-filled-button-container-color: var(
        --secondary-button-color
      ) !important;
      --mdc-filled-button-label-text-color: #ffffff;

      /* change the secondary button so it does not get the secondary hover color applied */
      .mat-mdc-button-persistent-ripple:before {
        opacity: 0;
      }
    }
  }
}

@mixin _customize-pop-up() {
  .confirm-dialog-component {
    .header {
      font-size: 2.2rem;
      font-family: var(--secondary-font) !important;
      text-transform: var(--titles-capitalized);
    }

    .content-container .header {
      font-family: var(--secondary-font) !important;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      padding-top: 1.2rem;
      text-align: center;
    }
  }
}

@mixin _customize-date-picker() {
  .location-week-day-picker-component,
  .location-calendar-day-picker-component {
    --secondary-brand-color: var(--marriott-iconography-color);
  }

  .location-date-picker-component {
    .date-picker-toggle {
      .mat-button-toggle-label-content,
      .mat-button-toggle-button:after {
        --secondary-brand-color: var(--marriott-iconography-color);
      }

      .mat-button-toggle-label-content {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 3;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

@mixin _customize-statement() {
  .statement-footer-component {
    .statement-link,
    .statement-link:hover {
      color: var(--marriott-iconography-color) !important;
    }
  }
}

@mixin _customize-home-page() {
  .dashboard-home-component {
    background-image: none !important;
    background-color: var(--marriott-homepage-background-color);

    /* convert secondary button to primary for Marriott */
    .splash-message__cta {
      --mdc-filled-button-container-color: var(--primary-brand-color);
      --mdc-filled-button-label-text-color: #ffffff;
      border-color: rgba(0, 0, 0, 0) !important;
      font-size: 2rem !important;

      &:hover {
        --mdc-filled-button-container-color: var(--primary-brand-color);

        .mat-mdc-button-persistent-ripple:before {
          --mat-mdc-button-persistent-ripple-color: var(
            --primary-button-hover-color
          );
          opacity: 0.2;
        }
      }
    }

    .splash-message__greeting {
      text-shadow: none !important;
      font-size: 2.2rem !important;
      text-transform: var(--brand-capitalized);
    }
  }

  .default-header-component {
    .cart-button {
      &:before {
        background-color: #000000 !important;
      }
    }

    .cart-button__badge {
      color: #1c1c1c !important;
      -webkit-text-stroke: var(--background-brand-color) !important;
    }
  }

  .base-layout-component {
    .layout-main-container:before {
      display: none !important;
    }
  }

  .default-header-component__app-menu-drop-down-container {
    .menu-item__label {
      --primary-font: var(--secondary-font-bold);
      text-transform: var(--titles-capitalized);
    }

    .menu-item__link {
      color: #1c1c1c !important;
    }
  }
}

@mixin _customize-offering-page() {
  .offering-home-component {
    /* -- Service Menu label for Mobile */
    .offering-menu__header-label {
      font-family: var(--secondary-font) !important;
    }

    .service-group__name {
      font-family: var(--secondary-font-bold);
      font-weight: 100 !important;
      text-transform: var(--menu-items-capitalized);

      /* menu of services underline  */
      &.highlight-when {
        border-bottom: 0.3rem solid var(--marriott-iconography-color);
      }

      &:after {
        @media (max-width: 575.98px) {
          border-color: var(--secondary-brand-color) !important;
        }
      }
    }

    .service-group-component {
      .service-item-title {
        font-weight: 700;
        font-family: var(--primary-font) !important;
      }

      .service-item__name {
        font-size: 1.4rem !important;
        font-weight: 800 !important;
        font-family: var(--secondary-font-bold) !important;
        text-transform: var(--titles-capitalized);
      }

      .service-item__duration {
        font-size: 1.4rem !important;
        font-weight: 700 !important;
        font-family: var(--secondary-font-bold) !important;
        text-transform: var(--titles-capitalized);
      }

      .service-item__price {
        font-weight: 800 !important;
        font-family: var(--secondary-font-bold) !important;
        text-transform: var(--titles-capitalized);
        color: #1c1c1c !important;
      }

      .service-item-detail-container {
        /* Chevrons */
        &:after {
          border-color: var(--marriott-iconography-color) !important;
        }
      }
    }
  }

  .offering-home-component__cart-reminder-modal {
    .cart-reminder-message section {
      &:first-child {
        font-family: var(--secondary-font-bold) !important;
        text-transform: var(--titles-capitalized);
        font-size: 1.4rem !important;
        color: #1c1c1c !important;
      }

      &:nth-child(2) {
        font-family: var(--secondary-font-bold) !important;
        text-transform: none;
        font-size: 1.4rem !important;
        color: #1c1c1c !important;
      }
    }

    .service-name-component .service-name {
      font-family: var(--secondary-font) !important;
      color: #1c1c1c !important;
      font-size: 1.4rem !important;
    }

    .guest-count {
      font-family: var(--secondary-font) !important;
      color: #1c1c1c !important;
    }
  }

  .service-item-component .service-item-title__name,
  .service-item-component .service-item-title__price,
  .spa-package-component .spa-package-title__name,
  .spa-package-component .spa-package-title__price,
  .spa-couple-package-component .spa-couple-package-title__name,
  .spa-couple-package-component .spa-couple-package-title__price,
  .activity-type-component .activity-title {
    font-family: var(--primary-font) !important;
    font-size: 2.2rem !important;
    font-weight: 700 !important;
    text-transform: var(--brand-capitalized);
    color: #1c1c1c !important;
  }

  .service-item-component {
    .addon-header {
      font-family: var(--secondary-font-bold) !important;
      font-size: 1.8rem !important;
      text-transform: var(--titles-capitalized);
    }

    .add-on-detail__title-price {
      font-family: var(--secondary-font) !important;
      font-size: 1.4rem !important;
    }
  }

  footer {
    .service-item-cta__phone:hover .service-item-cta__phone-link,
    .spa-package-cta__phone:hover .spa-package-cta__phone-link,
    .spa-couple-package-cta__phone:hover .spa-couple-package-cta__phone-link {
      color: #ffffff !important;
    }

    .service-item-cta__phone,
    .spa-package-cta__phone,
    .spa-couple-package-cta__phone {
      &:hover:before {
        background-color: #ffffff !important;
      }
    }
  }
}

@mixin _customize-search-page() {
  obx-search-results {
    @media (min-width: 576px) {
      border-left: 1px solid #d2d2d2;
    }
    @media (max-width: 575.98px) {
      border: 0 !important;
      border-top: 1px solid #d2d2d2 !important;
    }
  }

  .availability-search-criteria-component {
    box-shadow: none !important;

    .search-cta {
      font-family: var(--secondary-font) !important;
    }

    .service-item-name {
      font-family: var(--secondary-font) !important;
    }
  }

  .search-results-component {
    .search-result-header {
      font-family: var(--secondary-font) !important;
      font-size: 2.4rem !important;
    }

    .mat-expansion-panel-header {
      .service-name {
        font-family: var(--secondary-font) !important;
        font-weight: 600;
        color: #000000 !important;
      }

      .availability,
      .time-range {
        color: #000000 !important;
      }
    }

    .timeslot-container {
      .timeslot-start,
      .timeslot-end,
      .timeslot-end:before {
        color: #1c1c1c !important;
      }

      .text-pricing.timeslot-value {
        font-family: var(--secondary-font);
        color: #000000 !important;
      }
    }
  }
}

@mixin _customize-checkout-page() {
  .checkout-component,
  .guarantee-component {
    .page-title {
      font-family: var(--secondary-font) !important;
      font-size: 2.2rem !important;
      text-transform: var(--titles-capitalized);
    }
  }

  .checkout-component {
    .summary-title {
      --secondary-font: var(--secondary-font-bold);
      text-transform: var(--titles-capitalized);
      font-size: 1.4rem !important;
    }

    /* Location and datetime */
    .summary-item.is-long {
      *:first-child {
        font-size: 2.2rem !important;
        text-transform: var(--titles-capitalized);
      }

      *:nth-child(2) {
        font-size: 1.4rem !important;
      }
    }

    /* Summary breakdown */
    .service-item-summary-component .summary-line-description {
      font-size: 1.4rem !important;
      color: #1c1c1c !important;
      font-family: var(--secondary-font) !important;

      .appointment-item,
      .activity-view-name {
        font-size: 1.4rem !important;
        font-family: var(--secondary-font-bold) !important;
        text-transform: var(--titles-capitalized);
        color: #1c1c1c !important;
      }
    }

    .summary-line-price {
      font-size: 1.4rem !important;
      color: #1c1c1c !important;
      font-family: var(--secondary-font-bold) !important;
      text-transform: var(--titles-capitalized);
    }

    /* Summary subtotal - unknown guest(s) */
    .summary-item.line-break {
      *:first-child {
        font-size: 1.4rem !important;
        color: #1c1c1c !important;
        font-family: var(--secondary-font-bold) !important;
        text-transform: var(--titles-capitalized);
      }

      *:nth-child(2) {
        font-size: 1.4rem !important;
        color: #1c1c1c !important;
        font-family: var(--secondary-font-bold) !important;
        text-transform: none;
      }
    }

    /* Summary subtotal - known guest(s) */
    .transaction-summary-component {
      .summary-item,
      .summary-item__label {
        font-family: var(--secondary-font);
        font-size: 1.4rem !important;
      }
    }

    .coupon-code-title__label {
      font-size: 1.4rem !important;
      color: #1c1c1c !important;
      font-family: var(--secondary-font-bold) !important;
      text-transform: var(--titles-capitalized);
    }

    /* Multiple guests */
    .primary-and-guests-contact-info-form-component {
      .contact-title-container {
        --secondary-font: var(--secondary-font-bold);
        text-transform: var(--titles-capitalized);
      }
    }

    .submit-button {
      margin-top: 3rem !important;
      --mdc-typography-button-font-size: 1.6rem !important;
      font-weight: 500;
      letter-spacing: normal;
    }

    .terms-and-conditions,
    .privacy-policy {
      color: var(--marriott-iconography-color) !important;
      text-decoration: none !important;
    }
  }

  .confirm-dialog-component {
    .marriott-booking-terms__body {
      text-align: left;

      & h4 {
        --primary-font: var(--secondary-font-bold);
        text-transform: var(--titles-capitalized);
      }
    }
  }
}
