@use "customize";

@include customize.brand(
    $brand-name: "Aloft",
    $primary-brand-color: #121617,
    $secondary-brand-color: #ffffff,
    $background-brand-color: #ffffff,
    $primary-font: "GalaxiePolaris-Bold",
    $marriott-iconography-color: #b70d6d,
    $secondary-button-color: #121617,
    $primary-button-hover-color: #ffffff,
    $brand-capitalized: uppercase,
    $titles-capitalized: capitalize,
    $menu-items-capitalized: none,
    $buttons-capitalized: capitalize,
    $body-copy-capitalized: none
  )
  using ($content-block) {
  @include customize.import-primary-fonts($content-block) {
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    src: url(https://cache.marriott.com/aka-fonts/Aloft/GalaxiePolaris-Bold.woff2);
  }
}
