/* Aloft */
/********************************************************************************************************************/
/****************/
/* Font imports */
/****************/
@font-face {
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  src: url(https://cache.marriott.com/aka-fonts/Aloft/GalaxiePolaris-Bold.woff2);
  font-family: "GalaxiePolaris-Bold";
}
@font-face {
  font-display: swap;
  font-family: Swiss-721-Regular;
  font-weight: 500;
  src: url(https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Regular.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Swiss-721-Medium;
  font-weight: 700;
  src: url(https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Medium.woff2) format("woff2");
}
/*******************/
/* Style variables */
/*******************/
:root {
  --primary-brand-color: #121617;
  --secondary-brand-color: #ffffff;
  --background-brand-color: #ffffff;
  --primary-font: GalaxiePolaris-Bold;
  --secondary-font: Swiss-721-Regular, Arial, Helvetica, sans-serif;
  /* additional CSS variables */
  --secondary-font-bold: Swiss-721-Medium, Helvetica, Arial, sans-serif;
  --marriott-iconography-color: #b70d6d;
  --marriott-homepage-background-color: #f4f4f4;
  --secondary-button-color: #121617;
  --primary-button-hover-color: #ffffff;
  --brand-capitalized: uppercase;
  --titles-capitalized: capitalize;
  --menu-items-capitalized: none;
  --buttons-capitalized: capitalize;
  --body-copy-capitalized: none;
}

/**********/
/* Header */
/**********/
h1,
h2,
h3,
h4,
h5,
h6,
.display-1:not(.dashboard-home-component .appointment-history-cta-container),
.display-2 {
  color: #1c1c1c !important;
  text-transform: var(--body-copy-capitalized);
}

h4,
h5 {
  font-weight: 600;
  /* font care - the Swiss-721 font bolds at 600 */
}

/***********/
/* Buttons */
/***********/
.mdc-button {
  --mdc-filled-button-container-shape: 3rem;
  --mdc-typography-button-font-family: var(--secondary-font);
  --mdc-typography-button-font-size: 1.6rem;
}

/* make all buttons capitalized or not */
.mdc-button {
  --mdc-typography-button-text-transform: var(--buttons-capitalized);
}

.mdc-button__label {
  text-transform: var(--buttons-capitalized);
}

.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-container-color: var(--primary-brand-color);
  --mdc-filled-button-label-text-color: #ffffff;
  font-size: 1.6rem !important;
}

.mdc-button.mat-primary:hover .mat-mdc-button-persistent-ripple::before {
  --mat-mdc-button-persistent-ripple-color: var(--primary-button-hover-color);
  opacity: 0.2;
}

.mat-mdc-unelevated-button.mat-accent {
  --mdc-filled-button-container-color: #ffffff;
  --mdc-filled-button-label-text-color: var(--secondary-button-color);
  --mdc-typography-button-text-transform: var(--buttons-capitalized);
  border-color: var(--secondary-button-color);
}
.mat-mdc-unelevated-button.mat-accent:hover {
  /* change the secondary button so it does not get the secondary hover color applied */
}
.mat-mdc-unelevated-button.mat-accent:hover .mat-mdc-button-persistent-ripple:before {
  opacity: 0;
}
.mat-mdc-unelevated-button.mat-accent:not(.splash-message__cta):hover {
  --mdc-filled-button-container-color: var(
    --secondary-button-color
  ) !important;
  --mdc-filled-button-label-text-color: #ffffff;
}

/************/
/* Checkbox */
/************/
.mdc-checkbox {
  --secondary-brand-color: var(--marriott-iconography-color);
}

/*********/
/* Input */
/*********/
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #000000;
}

.mdc-notched-outline {
  --mdc-theme-primary: #000000;
}

/****************/
/* Radio button */
/****************/
.mat-mdc-radio-group {
  --secondary-brand-color: var(--marriott-iconography-color);
}

/****************/
/* Slide toggle */
/****************/
.mat-mdc-slide-toggle .mdc-switch {
  --secondary-brand-color: var(--marriott-iconography-color);
  --mdc-switch-unselected-track-color: #d3d3d3;
  --mdc-switch-unselected-hover-track-color: #d3d3d3;
  --mdc-switch-unselected-focus-track-color: #d3d3d3;
  --mdc-switch-unselected-pressed-track-color: #d3d3d3;
  --mdc-switch-unselected-hover-state-layer-color: #d3d3d3;
  --mdc-switch-unselected-focus-state-layer-color: #d3d3d3;
  --mdc-switch-unselected-pressed-state-layer-color: #d3d3d3;
}

/************/
/* Dropdown */
/************/
.mat-mdc-select-arrow-wrapper:before {
  border-color: var(--marriott-iconography-color);
}

/*************/
/* Accordion */
/*************/
.mat-expansion-indicator:after {
  color: var(--marriott-iconography-color) !important;
}

/***********/
/* Spinner */
/***********/
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(
    --marriott-iconography-color
  );
}

/**********/
/* Anchor */
/**********/
a.text-primary, a.text-primary:hover, a.text-primary:visited {
  color: var(--marriott-iconography-color) !important;
}
a.text-primary, a.text-primary:hover {
  text-decoration: none !important;
}

/**************/
/* Price text */
/**************/
.text-pricing {
  font-family: var(--primary-font);
  font-size: 1.4rem;
}

/********/
/* Cart */
/********/
.itinerary-type-guest-wishlist-component .service-item__name,
.spa-service-type-guest-wishlist-component .service-item__name,
.activity-type-guest-wishlist-component .activity-type__name {
  font-size: 1.4rem !important;
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
}

.itinerary-type-guest-wishlist-component .service-item__price,
.spa-service-type-guest-wishlist-component .service-item__price {
  font-family: var(--secondary-font) !important;
  color: #000000 !important;
}

.spa-service-type-guest-wishlist-component .guest-name {
  font-family: var(--secondary-font) !important;
}

.itinerary-component .itinerary-title,
.group-cart-component .cart-title {
  font-family: var(--secondary-font) !important;
  font-size: 2.4rem;
  text-transform: var(--titles-capitalized);
}

.itinerary-component .cta-container [color=warn] {
  --mdc-filled-button-container-color: #ffffff;
  --mdc-filled-button-label-text-color: var(--secondary-button-color);
  --mdc-typography-button-text-transform: var(--buttons-capitalized);
  border: 1px solid var(--secondary-button-color);
}
.itinerary-component .cta-container [color=warn]:hover {
  --mdc-filled-button-container-color: var(
    --secondary-button-color
  ) !important;
  --mdc-filled-button-label-text-color: #ffffff;
  /* change the secondary button so it does not get the secondary hover color applied */
}
.itinerary-component .cta-container [color=warn]:hover .mat-mdc-button-persistent-ripple:before {
  opacity: 0;
}

/**********/
/* Pop up */
/**********/
.confirm-dialog-component .header {
  font-size: 2.2rem;
  font-family: var(--secondary-font) !important;
  text-transform: var(--titles-capitalized);
}
.confirm-dialog-component .content-container .header {
  font-family: var(--secondary-font) !important;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 1.2rem;
  text-align: center;
}

/***************/
/* Date picker */
/***************/
.location-week-day-picker-component,
.location-calendar-day-picker-component {
  --secondary-brand-color: var(--marriott-iconography-color);
}

.location-date-picker-component .date-picker-toggle .mat-button-toggle-label-content,
.location-date-picker-component .date-picker-toggle .mat-button-toggle-button:after {
  --secondary-brand-color: var(--marriott-iconography-color);
}
.location-date-picker-component .date-picker-toggle .mat-button-toggle-label-content {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*************/
/* Statement */
/*************/
.statement-footer-component .statement-link,
.statement-footer-component .statement-link:hover {
  color: var(--marriott-iconography-color) !important;
}

/*************/
/* Home page */
/*************/
.dashboard-home-component {
  background-image: none !important;
  background-color: var(--marriott-homepage-background-color);
  /* convert secondary button to primary for Marriott */
}
.dashboard-home-component .splash-message__cta {
  --mdc-filled-button-container-color: var(--primary-brand-color);
  --mdc-filled-button-label-text-color: #ffffff;
  border-color: rgba(0, 0, 0, 0) !important;
  font-size: 2rem !important;
}
.dashboard-home-component .splash-message__cta:hover {
  --mdc-filled-button-container-color: var(--primary-brand-color);
}
.dashboard-home-component .splash-message__cta:hover .mat-mdc-button-persistent-ripple:before {
  --mat-mdc-button-persistent-ripple-color: var(
    --primary-button-hover-color
  );
  opacity: 0.2;
}
.dashboard-home-component .splash-message__greeting {
  text-shadow: none !important;
  font-size: 2.2rem !important;
  text-transform: var(--brand-capitalized);
}

.default-header-component .cart-button:before {
  background-color: #000000 !important;
}
.default-header-component .cart-button__badge {
  color: #1c1c1c !important;
  -webkit-text-stroke: var(--background-brand-color) !important;
}

.base-layout-component .layout-main-container:before {
  display: none !important;
}

.default-header-component__app-menu-drop-down-container .menu-item__label {
  --primary-font: var(--secondary-font-bold);
  text-transform: var(--titles-capitalized);
}
.default-header-component__app-menu-drop-down-container .menu-item__link {
  color: #1c1c1c !important;
}

/*****************/
/* Offering page */
/*****************/
.offering-home-component {
  /* -- Service Menu label for Mobile */
}
.offering-home-component .offering-menu__header-label {
  font-family: var(--secondary-font) !important;
}
.offering-home-component .service-group__name {
  font-family: var(--secondary-font-bold);
  font-weight: 100 !important;
  text-transform: var(--menu-items-capitalized);
  /* menu of services underline  */
}
.offering-home-component .service-group__name.highlight-when {
  border-bottom: 0.3rem solid var(--marriott-iconography-color);
}
@media (max-width: 575.98px) {
  .offering-home-component .service-group__name:after {
    border-color: var(--secondary-brand-color) !important;
  }
}
.offering-home-component .service-group-component .service-item-title {
  font-weight: 700;
  font-family: var(--primary-font) !important;
}
.offering-home-component .service-group-component .service-item__name {
  font-size: 1.4rem !important;
  font-weight: 800 !important;
  font-family: var(--secondary-font-bold) !important;
  text-transform: var(--titles-capitalized);
}
.offering-home-component .service-group-component .service-item__duration {
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  font-family: var(--secondary-font-bold) !important;
  text-transform: var(--titles-capitalized);
}
.offering-home-component .service-group-component .service-item__price {
  font-weight: 800 !important;
  font-family: var(--secondary-font-bold) !important;
  text-transform: var(--titles-capitalized);
  color: #1c1c1c !important;
}
.offering-home-component .service-group-component .service-item-detail-container {
  /* Chevrons */
}
.offering-home-component .service-group-component .service-item-detail-container:after {
  border-color: var(--marriott-iconography-color) !important;
}

.offering-home-component__cart-reminder-modal .cart-reminder-message section:first-child {
  font-family: var(--secondary-font-bold) !important;
  text-transform: var(--titles-capitalized);
  font-size: 1.4rem !important;
  color: #1c1c1c !important;
}
.offering-home-component__cart-reminder-modal .cart-reminder-message section:nth-child(2) {
  font-family: var(--secondary-font-bold) !important;
  text-transform: none;
  font-size: 1.4rem !important;
  color: #1c1c1c !important;
}
.offering-home-component__cart-reminder-modal .service-name-component .service-name {
  font-family: var(--secondary-font) !important;
  color: #1c1c1c !important;
  font-size: 1.4rem !important;
}
.offering-home-component__cart-reminder-modal .guest-count {
  font-family: var(--secondary-font) !important;
  color: #1c1c1c !important;
}

.service-item-component .service-item-title__name,
.service-item-component .service-item-title__price,
.spa-package-component .spa-package-title__name,
.spa-package-component .spa-package-title__price,
.spa-couple-package-component .spa-couple-package-title__name,
.spa-couple-package-component .spa-couple-package-title__price,
.activity-type-component .activity-title {
  font-family: var(--primary-font) !important;
  font-size: 2.2rem !important;
  font-weight: 700 !important;
  text-transform: var(--brand-capitalized);
  color: #1c1c1c !important;
}

.service-item-component .addon-header {
  font-family: var(--secondary-font-bold) !important;
  font-size: 1.8rem !important;
  text-transform: var(--titles-capitalized);
}
.service-item-component .add-on-detail__title-price {
  font-family: var(--secondary-font) !important;
  font-size: 1.4rem !important;
}

footer .service-item-cta__phone:hover .service-item-cta__phone-link,
footer .spa-package-cta__phone:hover .spa-package-cta__phone-link,
footer .spa-couple-package-cta__phone:hover .spa-couple-package-cta__phone-link {
  color: #ffffff !important;
}
footer .service-item-cta__phone:hover:before,
footer .spa-package-cta__phone:hover:before,
footer .spa-couple-package-cta__phone:hover:before {
  background-color: #ffffff !important;
}

/***************/
/* Search page */
/***************/
@media (min-width: 576px) {
  obx-search-results {
    border-left: 1px solid #d2d2d2;
  }
}
@media (max-width: 575.98px) {
  obx-search-results {
    border: 0 !important;
    border-top: 1px solid #d2d2d2 !important;
  }
}

.availability-search-criteria-component {
  box-shadow: none !important;
}
.availability-search-criteria-component .search-cta {
  font-family: var(--secondary-font) !important;
}
.availability-search-criteria-component .service-item-name {
  font-family: var(--secondary-font) !important;
}

.search-results-component .search-result-header {
  font-family: var(--secondary-font) !important;
  font-size: 2.4rem !important;
}
.search-results-component .mat-expansion-panel-header .service-name {
  font-family: var(--secondary-font) !important;
  font-weight: 600;
  color: #000000 !important;
}
.search-results-component .mat-expansion-panel-header .availability,
.search-results-component .mat-expansion-panel-header .time-range {
  color: #000000 !important;
}
.search-results-component .timeslot-container .timeslot-start,
.search-results-component .timeslot-container .timeslot-end,
.search-results-component .timeslot-container .timeslot-end:before {
  color: #1c1c1c !important;
}
.search-results-component .timeslot-container .text-pricing.timeslot-value {
  font-family: var(--secondary-font);
  color: #000000 !important;
}

/*****************/
/* Checkout page */
/*****************/
.checkout-component .page-title,
.guarantee-component .page-title {
  font-family: var(--secondary-font) !important;
  font-size: 2.2rem !important;
  text-transform: var(--titles-capitalized);
}

.checkout-component {
  /* Location and datetime */
  /* Summary breakdown */
  /* Summary subtotal - unknown guest(s) */
  /* Summary subtotal - known guest(s) */
  /* Multiple guests */
}
.checkout-component .summary-title {
  --secondary-font: var(--secondary-font-bold);
  text-transform: var(--titles-capitalized);
  font-size: 1.4rem !important;
}
.checkout-component .summary-item.is-long *:first-child {
  font-size: 2.2rem !important;
  text-transform: var(--titles-capitalized);
}
.checkout-component .summary-item.is-long *:nth-child(2) {
  font-size: 1.4rem !important;
}
.checkout-component .service-item-summary-component .summary-line-description {
  font-size: 1.4rem !important;
  color: #1c1c1c !important;
  font-family: var(--secondary-font) !important;
}
.checkout-component .service-item-summary-component .summary-line-description .appointment-item,
.checkout-component .service-item-summary-component .summary-line-description .activity-view-name {
  font-size: 1.4rem !important;
  font-family: var(--secondary-font-bold) !important;
  text-transform: var(--titles-capitalized);
  color: #1c1c1c !important;
}
.checkout-component .summary-line-price {
  font-size: 1.4rem !important;
  color: #1c1c1c !important;
  font-family: var(--secondary-font-bold) !important;
  text-transform: var(--titles-capitalized);
}
.checkout-component .summary-item.line-break *:first-child {
  font-size: 1.4rem !important;
  color: #1c1c1c !important;
  font-family: var(--secondary-font-bold) !important;
  text-transform: var(--titles-capitalized);
}
.checkout-component .summary-item.line-break *:nth-child(2) {
  font-size: 1.4rem !important;
  color: #1c1c1c !important;
  font-family: var(--secondary-font-bold) !important;
  text-transform: none;
}
.checkout-component .transaction-summary-component .summary-item,
.checkout-component .transaction-summary-component .summary-item__label {
  font-family: var(--secondary-font);
  font-size: 1.4rem !important;
}
.checkout-component .coupon-code-title__label {
  font-size: 1.4rem !important;
  color: #1c1c1c !important;
  font-family: var(--secondary-font-bold) !important;
  text-transform: var(--titles-capitalized);
}
.checkout-component .primary-and-guests-contact-info-form-component .contact-title-container {
  --secondary-font: var(--secondary-font-bold);
  text-transform: var(--titles-capitalized);
}
.checkout-component .submit-button {
  margin-top: 3rem !important;
  --mdc-typography-button-font-size: 1.6rem !important;
  font-weight: 500;
  letter-spacing: normal;
}
.checkout-component .terms-and-conditions,
.checkout-component .privacy-policy {
  color: var(--marriott-iconography-color) !important;
  text-decoration: none !important;
}

.confirm-dialog-component .marriott-booking-terms__body {
  text-align: left;
}
.confirm-dialog-component .marriott-booking-terms__body h4 {
  --primary-font: var(--secondary-font-bold);
  text-transform: var(--titles-capitalized);
}
