@use "customize";

@include customize.brand(
    $brand-name: "Four Points",
    $primary-brand-color: #327aa7,
    $secondary-brand-color: #ffffff,
    $background-brand-color: #ffffff,
    $primary-font: "ClarendonLTStd",
    $marriott-iconography-color: #327aa7,
    $secondary-button-color: #10293c,
    $primary-button-hover-color: #1c1c1c,
    $brand-capitalized: none,
    $titles-capitalized: capitalize,
    $menu-items-capitalized: none,
    $buttons-capitalized: capitalize,
    $body-copy-capitalized: none
  )
  using ($content-block) {
  @include customize.import-primary-fonts($content-block) {
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    src: url(https://cache.marriott.com/aka-fonts/FourPoints/ClarendonLTStd.woff2);
  }
}
