@use "customize";

@include customize.brand(
    $brand-name: "Generic",
    $primary-brand-color: #1c1c1c,
    $secondary-brand-color: #ffffff,
    $background-brand-color: #ffffff,
    $primary-font: "Swiss-721-Medium-As-Primary-Font",
    $marriott-iconography-color: #0066cc,
    $secondary-button-color: #1c1c1c,
    $primary-button-hover-color: #ffffff,
    $brand-capitalized: none,
    $titles-capitalized: capitalize,
    $menu-items-capitalized: none,
    $buttons-capitalized: capitalize,
    $body-copy-capitalized: none
  )
  using ($content-block) {
  @include customize.import-primary-fonts($content-block) {
    font-display: swap;
    font-family: Swiss-721-Medium-As-Primary-Font;
    src: url(https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Medium.woff2)
      format("woff2");
  }
}
