@use "customize";

@include customize.brand(
    $brand-name: "Le Meridien",
    $primary-brand-color: #263a50,
    $secondary-brand-color: #ffffff,
    $background-brand-color: #ffffff,
    $primary-font: "GriffithGothic",
    $marriott-iconography-color: #2e9996,
    $secondary-button-color: #263a50,
    $primary-button-hover-color: #1c1c1c,
    $brand-capitalized: none,
    $titles-capitalized: capitalize,
    $menu-items-capitalized: none,
    $buttons-capitalized: capitalize,
    $body-copy-capitalized: none
  )
  using ($content-block) {
  @include customize.import-primary-fonts($content-block) {
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    src: url(https://cache.marriott.com/aka-fonts/LeMeridien/GriffithGothic-Light.woff2);
  }
}
