@use "customize";

@include customize.brand(
    $brand-name: "Sheraton (Shine Spa)",
    $primary-brand-color: #6f625d,
    $secondary-brand-color: #ffffff,
    $background-brand-color: #ffffff,
    $primary-font: "GT-Super-Display-Light",
    $marriott-iconography-color: #825fa5,
    $secondary-button-color: #3a3a3a,
    $primary-button-hover-color: #1c1c1c,
    $brand-capitalized: none,
    $titles-capitalized: capitalize,
    $menu-items-capitalized: none,
    $buttons-capitalized: capitalize,
    $body-copy-capitalized: none
  )
  using ($content-block) {
  @include customize.import-primary-fonts($content-block) {
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    src: url(https://cache.marriott.com/aka-fonts/Sheraton/GT-Super-Display-Light.woff2);
  }
}
