@use "customize";

@include customize.brand(
    $brand-name: "W Hotels (Other Spa Brand)",
    $primary-brand-color: #000000,
    $secondary-brand-color: #ffffff,
    $background-brand-color: #ffffff,
    $primary-font: "WSupremeWeb-SemiBold",
    $marriott-iconography-color: #da5098,
    $secondary-button-color: #000000,
    $primary-button-hover-color: #ffffff,
    $brand-capitalized: uppercase,
    $titles-capitalized: capitalize,
    $menu-items-capitalized: none,
    $buttons-capitalized: capitalize,
    $body-copy-capitalized: none
  )
  using ($content-block) {
  @include customize.import-primary-fonts($content-block) {
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    src: url(https://cache.marriott.com/aka-fonts/WHotels/WSupremeWeb-SemiBold.woff2);
  }
}
