/****************/
/* Font imports */
/****************/
@font-face {
  font-family: "Cormorant Garamond";
  src: url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/cormorantgaramond-bolditalic.woff2)
      format("woff2"),
    url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/cormorantgaramond-bolditalic.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/cormorantgaramond-bold.woff2)
      format("woff2"),
    url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/cormorantgaramond-bold.woff)
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/cormorantgaramond-italic.woff2)
      format("woff2"),
    url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/cormorantgaramond-italic.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/cormorantgaramond-Regular.woff2)
      format("woff2"),
    url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/cormorantgaramond-Regular.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/proximanova-regular-webfont.woff2)
      format("woff2"),
    url(https://obximages.s3.us-east-1.amazonaws.com/lang/ClientResources/CanyonRanch/proximanova-regular-webfont.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/******************/
/* Style variables */
/******************/
:root {
  --primary-brand-color: #b04e21;
  /* primary buttons background,  secondary buttons text */
  --secondary-brand-color: #b04e21;
  /* accent colors: dropdown arrow in location, cart badge, checkboxes, spinners, checkout success checkmark */
  --warning-brand-color: #c05321;
  /* warning label text, negative action buttons background color, trash icon in cart */
  --pricing-brand-color: #353535;
  /* prices */
  --primary-font: "Cormorant Garamond", serif;
  /* h1 - h4 */
  --secondary-font: "Cormorant Garamond", serif;
  /* h5, h6, and all non-header text */
}

/**************/
/* Custom CSS */
/**************/
/* patches - can be removed after the 2.2 release */
.mat-expansion-panel-content,
.mat-expansion-panel-header {
  font-family: var(--secondary-font);
}
/* all text color */
.display-1,
.display-2 {
  color: #353535;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #353535 !important;
  text-transform: uppercase;
}
/* font care for "Cormorant Garamond": do not let font-weight to exceed 500, otherwise the font turns black */
h1,
.dashboard-home-component .splash-message-container,
.self-guarantee-success-component .confirmation-detail__item-label,
.default-header-component__app-menu-drop-down-container .menu-item__link,
.default-header-component__app-menu-drop-down-container .auth-menu,
.default-header-component__app-menu-drop-down-container .sign-out-menu,
.shared-spa-service-home-component .service-group__name.highlight-when,
.default-location-dropdown-component .location-cta,
.service-item-component .service-item-title__name,
.service-item-component .addon-header,
.spa-package-component .spa-package-title__name,
.dashboard-home-component .service-item,
.activation-email-sent-component .customer-email,
.appointment-component .popup-button,
.appointment-component .appointment-action__cta,
.appointment-component .appointment-tab .mat-tab-label.mat-tab-label-active,
.appointment-component .appointment-tab .mat-tab-group.mat-primary .mat-ink-bar,
.appointment-component
  .appointment-tab
  .mat-tab-nav-bar.mat-primary
  .mat-ink-bar,
.appointment-component .spa-package-name,
.checkout-component .checkout-progress--current,
.dashboard-home-component .service-item,
.dashboard-home-component .spa-package-name,
.register-component .benefit,
.self-confirmation-component .confirmation-header,
.service-name-component .service-name.highlight,
.service-name-component .confirmation-detail__label,
.service-name-component .confirmation-description-title,
.service-name-component .confirmation-detail-title,
.service-name-component .confirmation-cancellation-title {
  font-weight: 500 !important;
}
/* all buttons */
.mat-flat-button {
  border-radius: 0 !important;
  font-family: "Proxima Nova", Verdana, sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
/* Shopping cart icon */
/*.default-header-component .cart-button {*/
/*  background-image: none !important;*/
/*}*/
/*.default-header-component .cart-button:before {*/
/*  content: " ";*/
/*  height: 2.4rem;*/
/*  width: 2.4rem;*/
/*  position: absolute;*/
/*  background-color: #353535;*/
/*  mask-image: url(cart.svg);*/
/*  mask-repeat: no-repeat;*/
/*  mask-size: contain;*/
/*  -webkit-mask-image: url(cart.svg);*/
/*  -webkit-mask-repeat: no-repeat;*/
/*  -webkit-mask-size: contain;*/
/*  -webkit-mask-position-y: center;*/
/*}*/
/* Profile icon */
.default-header-component .user-avatar-container .mat-icon {
  color: #353535;
}
/* App menu */
.default-header-component__app-menu-drop-down-container .menu-item__link {
  color: #353535 !important;
}
/* Service group */
.shared-service-group-component .service-item-detail-container:after {
  border-color: #353535 !important;
}
/* Service item */
.service-item-component .service-item-subtitle__description {
  color: #353535 !important;
}
/* My cart */
.guest-bucket-component .guest-bucket__remove-cta,
.guest-bucket-component .remove-cta:after {
  background-color: var(--primary-brand-color) !important;
}
/* Search result */
.search-availability-results-component .time-slot-detail__name,
.search-availability-disjointed-results-component .grouped-service-title {
  color: #353535 !important;
}
/* Checkout */
.checkout-component {
  color: #353535 !important;
}
