@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --primary-brand-color: #ad9d80;
  --secondary-brand-color: #76996c;
  --warning-brand-color: #e02020;
  --pricing-brand-color: #00bc58;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Roboto", sans-serif;
}
h1 {
  letter-spacing: 2px;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}
h4 {
  font-size: 16px;
}
.display-1,
.display-2 {
  color: #646464;
}
.text-pricing {
}
.button-primary {
}
.button-secondary {
}
.button-warning {
}
.dashboard-home-component {
  box-shadow: inset 0 0 100000px 1000px #00000044;
}
.dashboard-home-component {
  min-height: calc(100vh - 10rem);
  width: 100vw !important;
  position: absolute !important;
  left: 0px !important;
}
